:root {
  --primary-color: #0a3871;
  --bg-color: #e5e5e5;
  --light-bg-color: #fff;
  --text-color-one: #111116;
  --text-color-two: #0a3871;
  --light-text-color: #cdccd1;
  --primary-text-color: #fff;
  --light-hover-color: #d8dfe8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--bg-color);
}

.body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color-two);
  background-color: var(--bg-color);
}

header {
  display: flex;
  align-items: center;
  padding: 10px;
}

.logo {
  height: 40px;
  margin-left: 20px;
}
.header-text {
  font-size: 24px;
  color: var(--text-color-one);
  font-weight: 800;
}
.container {
  position: relative;
  width: 1200px;
  padding: 0 20px;
  display: flex;
  gap: 10px;
}
.container .card {
  flex: 1;
  padding: 30px;
  border-radius: 20px;
  background-color: var(--light-bg-color);
}
.container .card .from,
.container .card .to {
  display: flex;
  align-items: center;
  gap: 20px;
}
.container .card .from {
  margin-right: 20px;
}
.container .card .to {
  margin-left: 20px;
}
.container .card .heading {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--light-text-color);
  white-space: nowrap;
}
.btntop-container {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
}
.btntop-container .btntop-body {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-radius: 30px;
  background-color: var(--bg-color);
  transition: all 0.3s;
}

.btntop-body:hover {
  background-color: var(--light-hover-color);
}

.btntop-container .btntop-body span {
  flex: 1;
  margin-left: 10px;
}
.btntop-container .btntop-body ion-icon {
  font-size: 20px;
  transition: transform 0.3s ease;
}
.btntop-container.active .btntop-body {
  border-radius: 20px 20px 0 0;
}
.btntop-container.active .btntop-body ion-icon:last-child {
  transform: rotate(180deg);
}

.container .text-area {
  position: relative;
}
.container textarea {
  width: 100%;
  padding: 20px;
  margin: 10px 0;
  background-color: transparent;
  resize: none;
  outline: none;
  border: none;
  color: var(--text-color-one);
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
.container .text-area .alert {
  bottom: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 0.8rem;
  color: var(--text-color-one);
}

.alert ion-icon {
  font-size: 1.2rem;
  margin-right: 5px;
  vertical-align: text-bottom;
}

.buttons {
  text-align: right;
}

.buttons ion-icon {
  font-size: 1.2rem;
  color: var(--text-color-one);
  padding: 5px;
  margin: 5px;
}

.buttons ion-icon:hover {
  background-color: var(--light-hover-color);
  border-radius: 50%;
}

.container .center {
  position: relative;
}
.swap-position {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  border: 5px solid var(--bg-color);
  transition: all 0.3s ease;
  color: var(--primary-text-color);
  background-color: var(--primary-color);
}
.swap-position ion-icon {
  font-size: 25px;
}
.swap-position:hover {
  transform: translateX(-50%) scale(1.1);
}
.card-bottom {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  border-top: 2px solid var(--bg-color);
}
.card-bottom p {
  margin-bottom: 20px;
}
.card-bottom label {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
  cursor: pointer;
  border-radius: 30px;
  background-color: var(--bg-color);
}
.card-bottom label:hover {
  color: var(--primary-text-color);
  background-color: var(--primary-color);
}
.card-bottom span {
  font-size: 12px;
  pointer-events: none;
}
.card-bottom ion-icon {
  font-size: 20px;
}

.card-bottom button {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
  border-radius: 30px;
  border: none;
  outline: none;
  color: var(--text-color-two);
  cursor: pointer;
  background-color: var(--bg-color);
}
.card-bottom button:hover {
  color: var(--primary-text-color);
  background-color: var(--primary-color);
}
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 40px;
  text-align: center;
}

/* media quiries */
@media (max-width: 800px) {
  .container {
    width: 100%;
    margin-top: 20px;
    flex-direction: column;
  }
  .container .card {
    width: 100%;
  }
  .container .card .from {
    margin-right: 0;
  }
  .container .card .to {
    margin-left: 0;
  }
  .container .card .from,
  .container .card .to {
    flex-direction: column;
  }

  .swap-position {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .swap-position:hover {
    transform: translate(-50%, -50%) scale(1.1);
  }
  .swap-position ion-icon {
    transform: rotate(90deg);
  }
}
